<a href="https://colab.research.google.com/github/Ho-Jung-OH/my-first-web-site/blob/main/1104_%EB%B9%85%EC%A0%80(%EC%BD%94%EB%A0%99_%EA%B8%B0%EC%B4%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print(123456789)

hello world
123456789

In [ ]:
#나만의 루틴 한가지 출력해보기
print("일어나자마자 물 한잔 마시기")
print('홍삼 챙겨먹기')

일어나자마자 물 한잔 마시기
홍삼 챙겨먹기

In [ ]:
url = "https://news.sbs.co.kr/news/newsPlusList.do?themeId=10000000114"
print(url)

https://news.sbs.co.kr/news/newsPlusList.do?themeId=10000000114

In [ ]:
#수도권 코로나 확진자 현황
seoul = 12345
incheon = 300
print("서울: ")
print(seoul)
print("인천: ")
print(incheon)

#서울, 경기, 인천 확진자 수 합계 구하기
metro_area = seoul + incheon
print("수도권 감염자 수는 ? :")
print(metro_area)

서울:
12345
인천:
300
수도권 감염자 수는 ? :
12645

In [ ]:
grade_1 = 3
grade_2 = 2.0

print("grade_1 type: ")
print(type(grade_1))
print("grade_2 type: ")
print(type(grade_2))

print("average : ")
print(grade_1/2 + grade_2/2)
print(type(grade_1/2 + grade_2/2))

grade_1 type:
<class 'int'>
grade_2 type:
<class 'float'>
average :
2.5
<class 'float'>

In [ ]:
print(10/5)
num = 3*2/2*6
print(num)

2.0
18.0

In [ ]:
leftover_wine = (12 * 2 % 10)
print(leftover_wine)

4

In [ ]:
seoul = 4987483
print("어제 확진자 수")
print(seoul)

seoul -= 3500
print("오늘 확진자 수")
print( seoul )

어제 확진자 수
4987483
오늘 확진자 수
4983983

In [2]:
string_1 = "나는 읽기 쉬운 마음이야 "
string_2 = "당신도 스윽 훑고 가셔요. "
string_3 = "달랠 길 없는 외로운 마음 있지 "
string_4 = "머물다 가셔요"

lyrics = string_1 + string_2 + string_3 + string_4
print()
print(lyrics)

나는 읽기 쉬운 마음이야 당신도 스윽 훑고 가셔요. 달랠 길 없는 외로운 마음 있지 머물다 가셔요

In [ ]:
def love(my_name, your_name = "호정"): 
    print(f"{my_name} loves {your_name}!")

love("TheBoys 주연")

TheBoys 주연 loves 호정!

In [ ]:
love("더보이즈 주연","호정")

더보이즈 주연 loves 호정!

In [3]:
def sing():
  print(string_1)
  print(string_2)
  print(string_3)
  print(string_4)

sing()

나는 읽기 쉬운 마음이야
당신도 스윽 훑고 가셔요.
달랠 길 없는 외로운 마음 있지
머물다 가셔요

In [7]:
def sing(thing1, thing2):
  print(thing1 + "내리고")
  print(thing2 + "흐르면")
  print("난 당신을 생각해요")
  print("당신이 떠나시던 그 밤에 이렇게 비가 왔어요 \n")

sing("비가 ", "음악이 ")
sing("눈이 ", "눈물이 ")

비가 내리고
음악이 흐르면
난 당신을 생각해요
당신이 떠나시던 그 밤에 이렇게 비가 왔어요

눈이 내리고
눈물이 흐르면
난 당신을 생각해요
당신이 떠나시던 그 밤에 이렇게 비가 왔어요

In [ ]:
def devide_by_2(input_number):
    return input_number / 2

devide_by_2(230293837)

115146918.5

In [ ]:
def devide_multiple_by_2(input_number):
    d = input_number / 2
    m = input_number * 2
    return d, m

devide_multiple_by_2(56789)

(28394.5, 113578)

In [ ]:
food_i_want = []
print("내가 먹고 싶은 음식")
food_i_want = ['떡볶이', '마라샹궈']
print("떡볶이","마라샹궈")

food_i_want_detail = [['신전떡볶이','엽기떡볶이'],['매운마라샹궈'],['닭발','양대창']]

food_i_want_detail.append(['샤인머스캣'])
print(food_i_want_detail)

내가 먹고 싶은 음식
떡볶이 마라샹궈
[['신전떡볶이', '엽기떡볶이'], ['매운마라샹궈'], ['닭발', '양대창'], ['샤인머스캣']]

In [ ]:
my_range = range(0, 31)
print("0부터 30까지 숫자")
print(list(my_range))

print("range(0, 31)은 0부터 31미만의 숫자를 포함한다는 뜻")

0부터 30까지 숫자
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
range(0, 31)은 0부터 31미만의 숫자를 포함한다는 뜻

In [ ]:
list1 = [0,3,5,4]
print(list1[2]) #0,1,2(세번째)

list2 = ['i','love','you', 1004]
print(list2[1])

5
love

In [ ]:
a= list(range(10))

print(a)
print( a[ : 6])
print( a[ : ])
print( a[ : : 2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [ ]:
list3 = list2 = ['i','love','you','1004']
result =list3[0 : 2]
#list3 안의 첫번째부터 두번째까지의 값(0부터 2미만)

print(result)

['i', 'love']

In [ ]:
cat_breeds = ['샴','러시안블루','먼치킨','페르시안','코리안숏헤어']

for cat in cat_breeds:
  print(cat)

샴
러시안블루
먼치킨
페르시안
코리안숏헤어

In [ ]:
print(cat)

코리안숏헤어

In [ ]:
i = 1
while i <= 10:  #i가 10보다 작거나 같으면
    print(i)    #i를 출력
    i += 1      #i는 1씩 증가

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 20
while i >= 10:
  print(i)
  i -= 1

20
19
18
17
16
15
14
13
12
11
10

In [ ]:
i = 1       #1부터 시작
sum = 0     #시작은 0 (아직 하나도 안더했으니까)
while i <= 100 :      
  sum += i
  i += 1

print(sum)

5050

In [ ]:
for i in range(10):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(10):
  print(i, "번째","Hello")

0 번째 Hello
1 번째 Hello
2 번째 Hello
3 번째 Hello
4 번째 Hello
5 번째 Hello
6 번째 Hello
7 번째 Hello
8 번째 Hello
9 번째 Hello

In [ ]:
list1 = range(5)
print(list(list1))
print(len(list1))

[0, 1, 2, 3, 4]
5

In [ ]:
i = 0
sum = 0
while True:
  i += 1
  if i > 100:
    break     #100이 넘으면 빠져나와라
  sum += i

print(sum)

5050

In [ ]:
eng = ['A','B','C','D','E','F','G','H']

i = 0
while True:
  print(eng[i])
  i += 1
  if eng[i] =='F':
    break

A
B
C
D
E

In [ ]:
celsius = [0,1,2,3,4,5]